
#top
{
	background: #9e0c18;
	height: 60px;
	width: 100%;
}
i
{
	color: #dadfe8;
	padding-right: 20px;
}
.left
{
   float: left;
   font-size: 35px;
   padding: 0 50px;
}
.right
{
	float: right;
	font-size: 20px;
	padding: 10px 50px;
}
#head
{
	height: 150px;
	width: 100%;
	background: #fff;
}
.leftt
{
	float: left;
	padding: 25px 0 25px 50px;
}
.middle
{
	float: left;
	padding-top: 50px;
}
.rightt
{
	float: right;
	padding: 25px 50px 25px 0;
}
nav ul li
{
	padding-right: 20px;
}
nav ul li a
{
	color: white;
	font-weight: bold;
}
nav ul li a:hover
{
	color: black;
	background: white;
}
.dropdown-menu a
{
	font-weight: bold;
}
.dropdown-menu a:hover
{
	background:#9e0c18; 
	color: white;
}
#notice a
{
	color: #9e0c18;
}
#notice a:hover
{
	color: white;
	background:#9e0c18;
	text-decoration: none;
}
.carousel-inner img
{
	height: 400px;
	margin:30px 0;
}
.btn
{
	background: #9e0c18;
	color: white;
	width: 200px;
	height: 50px;
	font-weight: bold;
	margin: 20px;
}

.btn:hover
{
	background:#fff;
	color: #9e0c18;
	border: #9e0c18 3px solid;
}

#where p
{
	color: #9e0c18;
	font-weight: bold;
	font-size: 20px;
}
#where a
{
	text-decoration: none;
	color: black;
}
#where a:hover
{
	color: #9e0c18;
}
.bottom
{
	background:blue;
	color: white;
	padding: 30px 30px;
}
.col-md-3 ul li
{
	list-style-type: circle;
}
.col-md-3 ul li a
{
text-decoration: none;
color: white;
}
.col-md-3 label
{
	font-size: 20px;
	font-weight: bold;
}
#contact ul li
{
list-style: none;
}
#info ul li
{
	list-style: none;
}

.copyright
{
	padding-top: 30px;
	text-align: center;
    font-weight: bold;
}
 #orgnav
{
	height: 50px;
	width: 100%;
	padding: 20px; 
	background: #9e0c18; 
	color: white;
}